* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "AlteHaas";
    src: url(/fonts/AlteHaasGroteskRegular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Medium.ttf);
}

body {
    background-color: black;
    color: aliceblue;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

h1 {
    font-size: 40px;
    font-family: AlteHaas, sans-serif, 'Times New Roman', Times, serif;
    color: #ffffff ;
    text-align: center;
    position: relative;
    animation: movimento 5s infinite;
    animation-duration: 4s;
    margin-bottom: 20px;
    background-color: #514d4d;

}

form{
    font-family: Montserrat, sans-serif, 'Times New Roman', Times, serif;
    color: #ffffff ;
    padding: 15px;
    border-radius: 16px;
}

fieldset{
    padding: 15px;
    border: 5px solid #b3aeae;
    margin-bottom: 15px;
    
}

legend{
    font-weight:lighter;
    font-size: 20px;
    padding: 0 5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input, 
select, 
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

}

textarea {
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
}

input[type="color"]{
    width: 40px;
    padding: 0 5px;
}


@keyframes movimento{
    from {left: 0px;}
    to {left: 20px;}
}