* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "AlteHaas";
    src: url(/fonts/AlteHaasGroteskRegular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Medium.ttf);
}

body {
    background-color: black;
    color: aliceblue;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

h1 {
    font-size: 40px;
    font-family: AlteHaas, sans-serif, 'Times New Roman', Times, serif;
    color: #ffffff ;
    text-align: center;
    position: relative;
    animation: movimento 5s infinite;
    animation-duration: 4s;
    margin-bottom: 20px;

}

form{
    font-family: Montserrat, sans-serif, 'Times New Roman', Times, serif;
    color: #ffffff ;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 30px;
}

fieldset{
    padding: 15px;
    border: 5px solid #2f2c2c;
    margin-bottom: 15px;
    
}

legend{
    font-weight:lighter;
    font-size: 20px;
    padding: 0 5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    
}

p {
    font-weight: bold;
    margin-bottom: 15px;
}

input, 
select, 
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

}

textarea {
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
}

input[type="color"]{
    width: 40px;
    padding: 0 5px;
}

input:invalid, 
select:invalid, 
textarea:invalid{
    border-color: red;
}

input:valid,
select:valid,
textarea:valid
{
    border-color: rgb(111, 255, 0);
}

input[type="tel"]
input[type="file"]
{
    margin-bottom: 0;
}

small
{
    color: #ffffff;
    margin-bottom: 20px;
    display: inline-block;
}



@keyframes movimento
{
    from {left: 0px;}
    to {left: 20px;}
}

button 
{
    width: 100px;
    height: 30px;
    margin-right: 20px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover
{
    background-color: green;
    color: #ffffff;
}

button[type="reset"]:hover
{
    background-color: rgb(128, 0, 0);
    color: #ffffff;
}

input[type=checkbox]:hover,
input[type="radio"]:hover,
label:hover
{
    color: #aca1a1;
    cursor: pointer;
}
